<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Nova Aula</h1>
  </div>
  <div class="panel-body">
    <%= render 'form', event: @event %>
  </div>
  <div class="panel-footer">
    <%= link_to 'Voltar', events_path %>
  </div>
</div>
